---
//This is the place for server only code 

import MainLayout from '../components/layouts/MainLayout.astro';
---

<!-- <html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title> | FullStack developer</title>
  </head>
  <body>
   
    <h1>Astro</h1>
    <p>Hola {name}</p>
    <footer>
      <p>© 2023 {name}. All rights reserved.</p>
      <p id="date"></p>
    </footer>
    <script>
      const getDate = () => {
        const currentYear: string = new Date().toLocaleTimeString()
        return `Current year: ${currentYear}`;
      };
      window.onload = () => {
        document.getElementById('date').textContent = getDate();

      };
    </script>
  </body>
</html> -->
<MainLayout title=" Erika Flores | FullStack developer">
  <p>Hola</p>
</MainLayout>
