---
//This is the place for server only code 
//components
import MainLayout from '../components/layouts/MainLayout.astro';
//styles
import "../styles/global.css";

---

<MainLayout title=" Erika Flores | FullStack developer">
  <p>Hola</p>
  <h1 class="text-3xl font-bold underline">
  Hello world!
  <section>
    <p>Welcome to my website</p>
  </section>
</h1>
</MainLayout>
